@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
    --backgroundGradientStart: #eeeeee;
    --backgroundGradientEnd: #d1d1d1;

    --text: #070707;

    /* Buttons */

    --buttonText: #f8f8f8;

    --buttonPrimary: #0077c8;
    --buttonPrimaryHover: #005a9e;
    --buttonPrimaryActive: #003d74;

    --buttonSecondary: #cccccc;
    --buttonSecondaryHover: #b3b3b3;
    --buttonSecondaryActive: #999999;
}

.theme-dark {
    --backgroundGradientStart: #2e2e2e;
    --backgroundGradientEnd: #111111;

    --text: #f8f8f8;

    /* Buttons */

    --buttonText: #f8f8f8;

    --buttonPrimary: #0077c8;
    --buttonPrimaryHover: #005a9e;
    --buttonPrimaryActive: #003d74;

    --buttonSecondary: #333333;
    --buttonSecondaryHover: #3c3c3c;
    --buttonSecondaryActive: #454545;
}