@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
    --background: #f8f8f8;
    --backgroundGradientStart: #f8f8f8;
    --backgroundGradientEnd: #e2e8f0;

    --text: #313131;
    --textHover: #2d2d2d;
    --textLink: #3e75aa;
    --textLinkHover: #22629f;
    --textDangerLink: #e53e3e;
    --textDangerLinkHover: #c53030;
    --border: #f1f1f1;
    --discord: #6366f1;
    --discordHover: #4f46e5;
    --hover: #e2e8f0;
}

.theme-dark {
    --background: #313131;
    --backgroundGradientStart: #313131;
    --backgroundGradientEnd: #0d0d0d;

    --text: #f8f8f8;
    --textHover: #f1f1f1;
    --textLink: #3e75aa;
    --textLinkHover: #22629f;
    --textDangerLink: #e53e3e;
    --textDangerLinkHover: #c53030;
    --border: #2d2d2d;
    --discord: #6366f1;
    --discordHover: #4f46e5;
    --hover: #2d2d2d;
}